fastapi
fastapi[standard]
uvicorn
pandas
numpy
qdrant-client
multiformats
ipfs_embeddings_py==0.0.18
datasets
transformers
aiohttp
multiformats
elasticsearch
nltk
rank_bm25
llama-index-embeddings-huggingface
llama-index
torch
faiss
faiss-cpu
faiss-gpu