fastapi
fastapi[standard]
uvicorn
datasets
pandas
numpy
qdrant-client
multiformats
ipfs_kit_py==0.0.8
ipfs_datasets_py==0.0.9
ipfs_embeddings_py==0.0.19
ipfs_accelerate_py==0.0.40
datasets
transformers
aiohttp
multiformats
elasticsearch
nltk
rank_bm25
llama-index-embeddings-huggingface
llama-index
torch
haystack
faiss-cpu
pysbd
optimum
optimum[openvino]
ipfs_transformers_py
toml
torchvision
einops
timm